footer.footer.text-center.py-2.theme-bg-dark
  /! /* This template is released under the Creative Commons Attribution 3.0 License. Please keep the attribution link below when using for your own project. Thank you for your support. :) If you'd like to use the template without the attribution, you can buy the commercial license via our website: themes.3rdwavemedia.com */
  small.copyright
    | Designed with
    i.fas.fa-heart style=("color: #fb866a;")
    | by
    a href="http://themes.3rdwavemedia.com" target="_blank"  Xiaoying Riley
    | for developers
