/! Meta
meta charset="utf-8" /
meta content="IE=edge" http-equiv="X-UA-Compatible" /
meta content="width=device-width, initial-scale=1.0" name="viewport" /
meta content=("Blog Template") name="description" /
meta content=("Xiaoying Riley at 3rd Wave Media") name="author" /
link href="favicon.ico" rel=("shortcut icon") /
/! FontAwesome JS
script crossorigin="anonymous" defer="defer" integrity="sha384-eVEQC9zshBn0rFj4+TU78eNA19HMNigMviK/PU/FFjLXqa/GKPgX58rvt5Z8PLs7" src="https://use.fontawesome.com/releases/v5.7.1/js/all.js"
/! Theme CSS
/ link#theme-style href="assets/css/theme-3.css" rel="stylesheet" /
