.main-wrapper
  section.cta-section.theme-bg-light.py-5
    .container.text-center
      - if current_user
        = t('welcome')
        | &nbsp;
        = link_to admin_root_path
          = current_user.email
        p
          = link_to destroy_user_session_path, method: :delete
            = t('devise.custom.log out')
      - else
        = t('welcome')
        | &nbsp;
        = t('devise.custom.guest')
        p
          = link_to new_user_session_path
            = t('devise.custom.log in')
      h2.heading DevBlog - A Blog Template Made For Developers
      .intro Welcome to my blog. Subscribe and get my latest blog post in your inbox.
      form.signup-form.form-inline.justify-content-center.pt-3
        .form-group
          label.sr-only for="semail"  Your email
          input#semail.form-control.mr-md-1.semail name="semail1" placeholder=("Enter email") type="email" /
        button.btn.btn-primary type="submit"  Subscribe
  /! //container
  section.blog-list.px-3.py-5.p-md-5
    .container
      .item.mb-5
        .media
          = image_tag "blog/blog-post-thumb-1.jpg", title: "",alt:"image", class: "mr-3 img-fluid post-thumb d-none d-md-flex"
          .media-body
            h3.title.mb-1
              a href="blog-post.html"  Why Every Developer Should Have A Blog
            .meta.mb-1
              span.date Published 2 days ago
              span.time 5 min read
              span.comment
                a href="#"  8 comments
            .intro Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies...
            a.more-link href="blog-post.html"  Read more →
      /! //media-body
      /! //media
      /! //item
      .item.mb-5
        .media
          = image_tag "blog/blog-post-thumb-2.jpg", title: "",alt:"image", class: "mr-3 img-fluid post-thumb d-none d-md-flex"
          .media-body
            h3.title.mb-1
              a href="blog-post.html"  A Guide to Becoming a Full-Stack Developer
            .meta.mb-1
              span.date Published 3 months ago
              span.time 3 min read
              span.comment
                a href="#"  26 comments
            .intro Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies...
            a.more-link href="blog-post.html"  Read more →
      /! //media-body
      /! //media
      /! //item
      .item.mb-5
        .media
          = image_tag "blog/blog-post-thumb-3.jpg", title: "", alt: "image", class: "mr-3 img-fluid post-thumb d-none d-md-flex"
          .media-body
            h3.title.mb-1
              a href="blog-post.html"  High Performance JavaScript
            .meta.mb-1
              span.date Published 1 month ago
              span.time 8 min read
              span.comment
                a href="#"  12 comments
            .intro Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies...
            a.more-link href="blog-post.html"  Read more →
      /! //media-body
      /! //media
      /! //item
      .item.mb-5
        .media
          = image_tag "blog/blog-post-thumb-4.jpg", title: "", alt: "image", class: "mr-3 img-fluid post-thumb d-none d-md-flex"
          .media-body
            h3.title.mb-1
              a href="blog-post.html"  Top 5 JavaScript Frameworks
            .meta.mb-1
              span.date Published 2 months ago
              span.time 15 min read
              span.comment
                a href="#"  3 comments
            .intro Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies...
            a.more-link href="blog-post.html"  Read more →
      /! //media-body
      /! //media
      /! //item
      .item.mb-5
        .media
          = image_tag "blog/blog-post-thumb-5.jpg", title: "", alt: "image", class: "mr-3 img-fluid post-thumb d-none d-md-flex"
          .media-body
            h3.title.mb-1
              a href="blog-post.html"  Learn React in 24 Hours
            .meta.mb-1
              span.date Published 2 months ago
              span.time 10 min read
              span.comment
                a href="#"  23 comments
            .intro Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies...
            a.more-link href="blog-post.html"  Read more →
      /! //media-body
      /! //media
      /! //item
      .item
        .media
          = image_tag "blog/blog-post-thumb-6.jpg", title: "", alt: "image", class: "mr-3 img-fluid post-thumb d-none d-md-flex"
          .media-body
            h3.title.mb-1
              a href="blog-post.html"  About Remote Working
            .meta.mb-1
              span.date Published 3 months ago
              span.time 2 min read
              span.comment
                a href="#"  1 comment
            .intro Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies...
            a.more-link href="blog-post.html"  Read more →
      /! //media-body
      /! //media
      /! //item
      nav.blog-nav.nav.nav-justified.my-5
        a.nav-link-prev.nav-item.nav-link.d-none.rounded-left href="#"
          | Previous
          i.arrow-prev.fas.fa-long-arrow-alt-left
        a.nav-link-next.nav-item.nav-link.rounded href="blog-list.html"
          | Next
          i.arrow-next.fas.fa-long-arrow-alt-right
  / footer.footer.text-center.py-2.theme-bg-dark
  /   /! /* This template is released under the Creative Commons Attribution 3.0 License. Please keep the attribution link below when using for your own project. Thank you for your support. :) If you'd like to use the template without the attribution, you can buy the commercial license via our website: themes.3rdwavemedia.com */
  /   small.copyright
  /     | Designed with
  /     i.fas.fa-heart style=("color: #fb866a;")
  /     | by
  /     a href="http://themes.3rdwavemedia.com" target="_blank"  Xiaoying Riley
  /     | for developers

  /       /! //main-wrapper