= f.error_notification
= f.input :image,
        placeholder: t('activerecord.models.post.attributes.image.placeholder'),
        required: true,
        label: t('activerecord.models.post.attributes.image.placeholder'),
        wrapper: :horizontal_file

= f.input :title,
        placeholder: t('activerecord.models.post.attributes.title.placeholder'),
        required: true,
        label: t('activerecord.models.post.attributes.title.placeholder'),
        wrapper: :horizontal_form

= f.input :intro,
        placeholder: t('activerecord.models.post.attributes.intro.placeholder'),
        required: true,
        label: t('activerecord.models.post.attributes.intro.placeholder'),
        wrapper: :horizontal_form

= f.input :article,
        placeholder: t('activerecord.models.post.attributes.article.placeholder'),
        required: true,
        label: t('activerecord.models.post.attributes.article.placeholder'),
        wrapper: :horizontal_form

= f.input :time,
        placeholder: t('activerecord.models.post.attributes.time.placeholder'),
        required: true,
        label: t('activerecord.models.post.attributes.time.placeholder'),
        wrapper: :horizontal_form
