= content_for(:title, t('admin.posts.list of posts'))
/! Main content
.content
  .container-fluid
    /! /.container-fluid
    /! /.content
    .row
      .col-md-6.col-md-offset-10
        = link_to new_admin_post_path, class: 'btn btn-success pull-right'
          i.fas.fa-plus
          |
          = t('admin.posts.add new post')
    .row
      p

    .row
      .col-12
        .card.card-blue
          .card-header
            h3.card-title
              = t('admin.posts.post')
          /! /.card-header
          .card-body.p-0
            table.table.table-condensed
              thead
                tr
                  th style=("width: 50px")
                    = t('activerecord.models.post.attributes.title.placeholder')
                  th style=("width: 30px")
                    = t('image')
                  th
                    = t('activerecord.models.post.attributes.intro.placeholder')
                  th style=("width: 15px")
                    = t('action')

              tbody
                - @posts.each do |post|
                  tr
                    td
                      = post.title
                    td
                      - if post.image.attached?
                        = link_to admin_posts_path(post)
                          = image_tag post.image.variant(resize: '50'), alt: post.title
                            = post.title
                      - else
                        = link_to admin_post_path(post)
                          = image_tag 'backend/default-image.jpg', size: 50, alt: 'Image'
                    td
                      = post.intro
                    td
                      .btn-row
                        = link_to raw('<i class="far fa-edit"></i>'), edit_admin_post_path(post),
                                class: 'btn btn-sm btn-warning',
                                style: 'margin-right: 10px',
                                title: t('edit')
                        = link_to raw('<i class="far fa-trash-alt"></i>'), admin_post_path(post),
                                class: 'btn btn-sm btn-warning',
                                method: :delete,
                                data: {confirm: t('confirm')},
                                title: t('remove')
          /! /.card-body
