= content_for(:title, t('admin.posts.add new post'))
= simple_form_for [:admin, @post] do |f|
  /! Main content
  .content
    .container-fluid
      /! /.container-fluid
      /! /.content
      .row
        .col-md-8
          .card.card-blue
            .card-header
              = t('admin.posts.add new post')
            .card-body
              = render partial: 'form', locals: {f: f}
            .card-footer
              = link_to  admin_posts_path, class: 'btn btn-danger'
                = t(:cancel)
              = f.submit t(:save), class: 'btn btn-success pull-right'
