.main-wrapper
  section.blog-list.px-3.py-5.p-md-5
    .container
      .item.mb-5
        .media
          = image_tag "blog/blog-post-thumb-7.jpg", title: "", alt:"image", class: "mr-3 img-fluid post-thumb d-none d-md-flex"
          .media-body
            h3.title.mb-1
              = link_to 'Heading Lorem Ipsum Dolor Sit Amet', '/blog-post.html'
            .meta.mb-1
              span.date Published 3 months ago
              span.time 5 min read
              span.comment
                a href="#"  4 comments
            .intro Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies...
            = link_to 'Read more →', 'blog-post.html', class: 'more-link'
      /! //media-body
      /! //media
      /! //item
      .item.mb-5
        .media
          = image_tag "blog/blog-post-thumb-8.jpg", title: "",alt:"image", class: "mr-3 img-fluid post-thumb d-none d-md-flex"
          .media-body
            h3.title.mb-1
              = link_to 'Heading Lorem Ipsum Dolor Sit Amet', 'blog-post.html'
            .meta.mb-1
              span.date Published 4 months ago
              span.time 3 min read
              span.comment
                a href="#"  2 comments
            .intro Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies...
            = link_to 'Read more →', 'blog-post.html', class: 'more-link'
      /! //media-body
      /! //media
      /! //item
      .item.mb-5
        .media
          = image_tag "blog/blog-post-thumb-9.jpg", title: "", alt: "image", class: "mr-3 img-fluid post-thumb d-none d-md-flex"
          .media-body
            h3.title.mb-1
              = link_to 'Heading Nemo Enim Ipsam Voluptatem', 'blog-post.html'
            .meta.mb-1
              span.date Published 4 months ago
              span.time 8 min read
              span.comment
                a href="#"  7 comments
            .intro Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies...
            = link_to 'Read more →', 'blog-post.html', class: 'more-link'
      /! //media-body
      /! //media
      /! //item
      .item.mb-5
        .media
          = image_tag "blog/blog-post-thumb-10.jpg", title: "", alt: "image", class: "mr-3 img-fluid post-thumb d-none d-md-flex"
          .media-body
            h3.title.mb-1
              = link_to 'Heading Perspiciatis Unde Omnis', 'blog-post.html'
            .meta.mb-1
              span.date Published 5 months ago
              span.time 15 min read
              span.comment
                a href="#"  3 comments
            .intro Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies...
            = link_to 'Read more →', 'blog-post.html', class: 'more-link'
      /! //media-body
      /! //media
      /! //item
      .item.mb-5
        .media
          = image_tag "blog/blog-post-thumb-11.jpg", title: "", alt: "image", class: "mr-3 img-fluid post-thumb d-none d-md-flex"
          .media-body
            h3.title.mb-1
              = link_to 'Heading Duis Arcu Tortor', 'blog-post.html'
            .meta.mb-1
              span.date Published 5 months ago
              span.time 10 min read
              span.comment
                a href="#"  0 comment
            .intro Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies...
            = link_to 'Read more →', 'blog-post.html', class: 'more-link'
      /! //media-body
      /! //media
      /! //item
      .item
        .media
          = image_tag "blog/blog-post-thumb-12.jpg", title: "", alt: "image", class: "mr-3 img-fluid post-thumb d-none d-md-flex"
          .media-body
            h3.title.mb-1
              = link_to 'Heading Vestibulum Ante Ipsum Primis', 'blog-post.html'
            .meta.mb-1
              span.date Published 6 months ago
              span.time 2 min read
              span.comment
                a href="#"  8 comments
            .intro Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies...
            = link_to 'Read more →', 'blog-post.html', class: 'more-link'
      /! //media-body
      /! //media
      /! //item
      nav.blog-nav.nav.nav-justified.my-5
        = link_to 'index.html', class: 'nav-link-prev nav-item nav-link rounded-left'
          | Previous
          i.arrow-prev.fas.fa-long-arrow-alt-left
        = link_to 'blog-list.html', class: 'nav-link-prev nav-item nav-link rounded-left'
          | Next
          i.arrow-next.fas.fa-long-arrow-alt-right
      /! //main-wrapper
