body
  .main-wrapper
    article.blog-post.px-3.py-5.p-md-5
      .container
        header.blog-post-header
          h2.title.mb-2 Why Every Developer Should Have A Blog
          .meta.mb-3
            span.date Published 3 months ago
            span.time 5 min read
            span.comment
              a href="#"  4 comments
        .blog-post-body
          figure.blog-banner
            a href="https://made4dev.com"
              = image_tag "blog/blog-post-banner.jpg", title: "",alt:"image", class: "img-fluid"
            figcaption.mt-2.text-center.image-caption
              | Image Credit:
              a href="https://made4dev.com?ref=devblog" target="_blank"  made4dev.com (Premium Programming T-shirts)
          p Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt. Cras dapibus. Vivamus elementum semper nisi. Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim.
          h3.mt-5.mb-3 Code Block Example
          p
            | You can get more info at
            / = succeed "." do
              a href="https://highlightjs.org/" target="_blank"  https://highlightjs.org/
          h3.mt-5.mb-3 Typography
          p Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
          h5.my-3 Bullet Points:
          ul.mb-5
            li.mb-2 Lorem ipsum dolor sit amet consectetuer.
            li.mb-2 Aenean commodo ligula eget dolor.
            li.mb-2 Aenean massa cum sociis natoque penatibus.
          ol.mb-5
            li.mb-2 Lorem ipsum dolor sit amet consectetuer.
            li.mb-2 Aenean commodo ligula eget dolor.
            li.mb-2 Aenean massa cum sociis natoque penatibus.
          h5.my-3 Quote Example:
          blockquote.blockquote.m-lg-5.py-3.pl-4.px-lg-5
            p.mb-2 You might not think that programmers are artists, but programming is an extremely creative profession. It's logic-based creativity.
            footer.blockquote-footer John Romero
          h5.my-3 Table Example:
          table.table.table-striped.my-5
            thead
              tr
                th scope="col"  #
                th scope="col"  First
                th scope="col"  Last
                th scope="col"  Handle
            tbody
              tr
                th scope="row"  1
                td Mark
                td Otto
                td @mdo
              tr
                th scope="row"  2
                td Jacob
                td Thornton
                td @fat
              tr
                th scope="row"  3
                td Larry
                td the Bird
                td @twitter
          h5.mb-3 Embed A Tweet:
          blockquote.twitter-tweet data-lang="en"
            p dir="ltr" lang="en"
              | 1969:
              br>/
              | \-what're you doing with that 2KB of RAM?
              br>/
              | \-sending people to the moon
              br/
              / = succeed "2017:" do
                br/
              / = succeed "-what're" do
                br/
              / = succeed "-running" do
                br/
            | — I Am Devloper (@iamdevloper)
            a href="https://twitter.com/iamdevloper/status/926458505355235328?ref_src=twsrc%5Etfw"  November 3, 2017
          script async="" charset="utf-8" src="https://platform.twitter.com/widgets.js"
          h3.mt-5.mb-3 Video Example
          p Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim.
          .embed-responsive.embed-responsive-16by9
            iframe allow=("accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture") allowfullscreen="" frameborder="0" height="315" src="https://www.youtube.com/embed/hnCmSXCZEpU" width="560"
        nav.blog-nav.nav.nav-justified.my-5
          = link_to 'index.html', class: 'nav-link-prev nav-item nav-link rounded-left'
            | Previous
            i.arrow-prev.fas.fa-long-arrow-alt-left
          = link_to 'blog-list.html', class: 'nav-link-prev nav-item nav-link rounded-left'
            | Next
            i.arrow-next.fas.fa-long-arrow-alt-right
        .blog-comments-section
          #disqus_thread
    /! //blog-comments-section
    /! //container
    section.promo-section.theme-bg-light.py-5.text-center
      .container
        h2.title Promo Section Heading
        p You can use this section to promote your side projects etc. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa.
        figure.promo-figure
          a href="https://made4dev.com" target="_blank"
            = image_tag "promo-banner.jpg", title: "",alt:"image", class: "img-fluid"
            /! //container
            /! //promo-section
            /! //main-wrapper
