doctype html
html
  head
    title
      = content_for?(:title) ? yield(:title) : Rails.application.credentials[Rails.env.to_sym][:site_title]
	= csrf_meta_tags
	= csp_meta_tag
	= stylesheet_link_tag    'frontend', media: 'all', 'data-turbolinks-track': 'reload'
	= javascript_include_tag 'frontend', 'data-turbolinks-track': 'reload'
	= render partial: 'shared/head'
  body
    = render partial: 'shared/header'
    / = render partial: 'shared/flash'
    = yield
    = render partial: 'shared/footer'
    = render partial: 'shared/foot'
